
.app-container{
  position: relative;
  padding: 10px 20px;
  margin: 30px 100px;
  width: 35%;
  font-size: 30px;
  box-shadow: 0 0 5px 2px #d6d6c2;
  background: #fff;
}
/* .category-container{
  position: absolute;
  top: 10px;
  right:100px;
} */
.type-container{
  font-size: 18px;
}
.credit-con{
  color: green;
}
.debit-con{
color: red;
}
.date-container{
  font-size: 16px;
  margin-left: 40px;
}
.time-container{
  font-size: 16px;
  margin-left: 10px;
}
.cr-dr-container{
  width: fit-content;
  margin: 40px 100px;
}
.cr-dr-amount{
  font-size: 40px;
  font-weight: 400;
}
.delete-btn{
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right:10px;
}
.img-con{
  height: 35px;
}
.update-img-container{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right:10px;
}

@media screen and (max-width:768px){
  
}