.login-heading{
    text-align: center;
}
.login-container{
    box-shadow:0px 0px 7px 0px #ffc2b3;
    padding: 10px 80px;
    width: fit-content;
    border-radius: 10px;
    display: block;
    margin: 150px auto;
    /* margin-top: 100px; */
    background: #fff;
}
.login-input{
   

    padding: 8px 20px;
    font-size: 22px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}
.btn-login{
    display: block;
    margin: 20px auto;
}
@media screen and (max-width:768px){
    .login-container{
        box-shadow:0px 0px 7px 0px #ffc2b3;
        padding: 7px 25px;
        width: fit-content;
        border-radius: 10px;
        display: block;
        margin: 140px auto;
        margin-top: 100px;
        background: #fff;
    }
    .login-input{
        padding: 5px 20px;
        font-size: 20px;
        display: block;
        margin: 30px auto;
        border-radius: 10px;
    }
}